@model Finanzas.Models.Bono

@{
    ViewBag.Title = "Calcular";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> tipoActor = new List<SelectListItem>();
    tipoActor.Add(new SelectListItem
    {
        Text = "Bonista",
        Value = "Bonista"
    });
    tipoActor.Add(new SelectListItem
    {
        Text = "Emisor",
        Value = "Emisor",
    });

    List<SelectListItem> frecuenciaBono = new List<SelectListItem>();
    frecuenciaBono.Add(new SelectListItem
    {
        Text = "Mensual",
        Value = "30"
    });
    frecuenciaBono.Add(new SelectListItem
    {
        Text = "Bimestral",
        Value = "60",
    });
    frecuenciaBono.Add(new SelectListItem
    {
        Text = "Trimestral",
        Value = "90",
    });
    frecuenciaBono.Add(new SelectListItem
    {
        Text = "Cuatrimestral",
        Value = "120",
    });
    frecuenciaBono.Add(new SelectListItem
    {
        Text = "Semestral",
        Value = "180",
    });
    frecuenciaBono.Add(new SelectListItem
    {
        Text = "Anual",
        Value = "360",
    });

    List<SelectListItem> diasAño = new List<SelectListItem>();
    diasAño.Add(new SelectListItem
    {
        Text = "360",
        Value = "360"
    });
    diasAño.Add(new SelectListItem
    {
        Text = "365",
        Value = "365"
    });

    List<SelectListItem> tipoInteres = new List<SelectListItem>();
    tipoInteres.Add(new SelectListItem
    {
        Text = "Nominal",
        Value = "Nominal"
    });
    tipoInteres.Add(new SelectListItem
    {
        Text = "Efectiva",
        Value = "Efectiva"
    });
}
<div class="container">

    <h2>Calcular</h2>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="form-group" style="margin-left:0.2rem">
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre del Bono" } })
                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">

                    <h4>Datos del bono</h4>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.tipoActor, tipoActor, "-- Tipo de Actor --")
                            @Html.ValidationMessageFor(model => model.tipoActor, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.vnominal, new { htmlAttributes = new { @class = "form-control", @placeholder = "Valor Nominal" } })
                            @Html.ValidationMessageFor(model => model.vnominal, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.vcomercial, new { htmlAttributes = new { @class = "form-control", @placeholder = "Valor Comercial" } })
                            @Html.ValidationMessageFor(model => model.vcomercial, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.años, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cantidad de Años" } })
                            @Html.ValidationMessageFor(model => model.años, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.frecuencia, frecuenciaBono, "-- Frecuencia del Bono --")
                            @Html.ValidationMessageFor(model => model.frecuencia, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.diasAño, diasAño, "-- Dias por Año --")
                            @Html.ValidationMessageFor(model => model.diasAño, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>
                <div class="col-md-3" style="padding-top: 3rem">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.tipoInteres, tipoInteres, "-- Tipo de tasa --")
                            @Html.ValidationMessageFor(model => model.tipoInteres, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.capitalizacion, new { htmlAttributes = new { @class = "form-control", @placeholder = "capitalizacion" } })
                            @Html.ValidationMessageFor(model => model.capitalizacion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.tasaInteres, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tasa de interes %" } })
                            @Html.ValidationMessageFor(model => model.tasaInteres, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.tasaDescuento, new { htmlAttributes = new { @class = "form-control", @placeholder = "TEA de descuento %" } })
                            @Html.ValidationMessageFor(model => model.tasaDescuento, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.impuestoRenta, new { htmlAttributes = new { @class = "form-control", @placeholder = "Impuesto a la renta %" } })
                            @Html.ValidationMessageFor(model => model.impuestoRenta, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.fechaEmision, new { htmlAttributes = new { @class = "form-control", @placeholder = "Fecha de emisión" } })
                            @Html.ValidationMessageFor(model => model.fechaEmision, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                    <div class="col-md-3">
                        <h4>Datos de los Costes/Gastos iniciales</h4>
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.pPrima, new { htmlAttributes = new { @class = "form-control", @placeholder = "Prima %", @Value = "0" } })
                                @Html.ValidationMessageFor(model => model.pPrima, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.pEstructura, new { htmlAttributes = new { @class = "form-control", @placeholder = "Estructura %" } })
                                @Html.ValidationMessageFor(model => model.pEstructura, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.pColoca, new { htmlAttributes = new { @class = "form-control", @placeholder = "Colocación %" } })
                                @Html.ValidationMessageFor(model => model.pColoca, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.pFlota, new { htmlAttributes = new { @class = "form-control", @placeholder = "Flotación %" } })
                                @Html.ValidationMessageFor(model => model.pFlota, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.pCAVALI, new { htmlAttributes = new { @class = "form-control", @placeholder = "CAVALI %" } })
                                @Html.ValidationMessageFor(model => model.pCAVALI, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Calcular" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>

                </div>
        </div>
    }
</div>


<script type="text/javascript">
    $(function () {
        $("#fechaEmision").datetimepicker({
            format: "MM/DD/YYYY"
        }).on('dp.change'), function (e) {
            $(this).data("DateTimePicker").hide();
        }
    });
    let tipo;
    $("#tipoInteres").on("change", function () {
        if (this.value == "Efectiva") {
            $("#capitalizacion").hide();
        }
        else {
            $("#capitalizacion").show();
        }
    })
</script>
